<div appScreen #screenWrapper (scrollLeft)="handleScroll($event)" class="screen-wrapper">
  <div class="screen" #screen [ngStyle]="{'background-image': urlImages}">
    <img class="screen__left--btn" (click)="handleScrollScreen(true)" src="../../assets/icon/caret-back-outline.svg"
      alt="left">
    <img class="screen__right--btn" (click)="handleScrollScreen(false)" src="../../assets/icon/caret-back-outline.svg"
      alt="right">
    <img class="screen__moving--btn" *ngIf="stateImg"
      [ngClass]="{'screen__left': arrowState[0], 'screen__middle': arrowState[1], 'screen__right': arrowState[2]}"
      (click)="handleClickMovingArrow()" src="../../assets/icon/moving-arrow.svg" alt="arrow">
  </div>
</div>